* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-name,
.cat-image,
.cat-text {
  margin-bottom: 1em;
}

.cat-name,
.cat-text {
  font-size: 2em;
}

.cat-name {
  font-weight: bold;
}