* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
}

.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-name,
.cat-image,
.cat-text {
  margin-bottom: 0.5em;
}

.cat-list,
.cat-name,
.cat-text {
  font-size: 1.5em;
}

.cat-list-header,
.cat-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.cat-list {
  list-style: none;
  min-width: 10em;
  display: flex;
  flex-direction: column;
}

.cat-item {
  padding: 0.2em 0;
}

.cat-item:hover {
  background: rgb(220, 240, 250);
}